[sshd]
coldPath = $SPLUNK_DB/sshd/colddb
homePath = $SPLUNK_DB/sshd/db
thawedPath = $SPLUNK_DB/sshd/thaweddb

[cron]
coldPath = $SPLUNK_DB/cron/colddb
homePath = $SPLUNK_DB/cron/db
thawedPath = $SPLUNK_DB/cron/thaweddb

[systemd-logind]
coldPath = $SPLUNK_DB/systemd-logind/colddb
homePath = $SPLUNK_DB/systemd-logind/db
thawedPath = $SPLUNK_DB/systemd-logind/thaweddb

[nginx]
coldPath = $SPLUNK_DB/nginx/colddb
homePath = $SPLUNK_DB/nginx/db
thawedPath = $SPLUNK_DB/nginx/thaweddb

[wireguard]
coldPath = $SPLUNK_DB/wireguard/colddb
homePath = $SPLUNK_DB/wireguard/db
thawedPath = $SPLUNK_DB/wireguard/thaweddb

[docker]
coldPath = $SPLUNK_DB/docker/colddb
homePath = $SPLUNK_DB/docker/db
thawedPath = $SPLUNK_DB/docker/thaweddb