# This is for the client machine's configuration
[Interface]
PrivateKey = {{ wireguard[env_context]['secret_key']['client'][inventory_hostname.split('.')[0]] }}
Address = {{ wg_clients[inventory_hostname.split('.')[0]]['Address'] }}
PresharedKey = {{ wireguard[env_context]['preshared_key']['client'][inventory_hostname.split('.')[0]] }}

# The Peer is always the host server
[Peer]
PublicKey = {{ wg_server['public_key'] }}
Endpoint = {{ wg_server['endpoint'] }}
AllowedIPs = {{ wg_clients[inventory_hostname.split('.')[0]]['AllowedIPs'] }}
PersistentKeepalive = {{ wg_PersistentKeepalive }}
PresharedKey = {{ wireguard[env_context]['preshared_key']['server'] }}
