[Interface]
Address = {{ wg_server['interface']['address'] }}
ListenPort = {{ wg_server['interface']['ListenPort'] }}
PrivateKey = {{ wireguard[env_context]['secret_key']['server'] }}
PresharedKey = {{ wireguard[env_context]['preshared_key']['server'] }}

{% for client in wg_clients %}
[Peer]
# Client: {{ client }}
PublicKey = {{ wg_clients[client]['PublicKey'] }}
AllowedIPs = {{ wg_clients[client]['AllowedIPs'] }}
PresharedKey = {{ wireguard[env_context]['preshared_key']['client'][client] }}

{% endfor %}
