[Interface]
Address = {{ wg_server['interface']['address'] }}
ListenPort = {{ wg_server['interface']['ListenPort'] }}
PrivateKey = {{ wireguard[env_context]['secret_key']['server'] }}
MTU = {{ wg_MTU }}
PostUp = {{ wg_server['interface']['post_up'] }}
PreDown = {{ wg_server['interface']['pre_down'] }}
PostDown = {{ wg_server['interface']['post_down'] }}
Table = {{ wg_server['interface']['table'] }}
