storage "file" {
  path    = "/var/lib/vault/data"
}

listener "tcp" {
  address     = "{{ inventory_hostname }}:8200"
  tls_disable = "true"
}

api_addr = "http://localhost:8200"
ui = true


log_requests_level = "info"
log_level = "info"
