storage "raft" {
  path    = "/var/lib/vault"
  node_id = "node1"
}

listener "tcp" {
  address     = "{{ inventory_hostname }}:8200"
  tls_disable = "true"
}

listener "tcp" {
  address     = "localhost:8200"
  tls_disable = "true"
}

api_addr = "http://localhost:8200"
cluster_addr = "https://localhost:8201"
ui = true


log_requests_level = "info"
log_level = "info"
