[monitor:///var/log/vmware-vmsvc-root.log]
disabled = false
index = main
sourcetype = vmware

[journald://]
disabled = false
index = syslog

[journald://sshd]
disabled = false
index = sshd
journalctl-user-unit = sshd
