[monitor:///var/log/vmware-vmsvc-root.log]
disabled = false
index = main
sourcetype = vmware

[journald://]
disabled = false
index = syslog
sourcetype = syslog

[journald://sshd]
disabled = false
index = sshd
sourcetype = syslog

