[journald://sshd]
disabled = false
index = sshd
sourcetype = syslog

[journald://cron]
disabled = false
index = cron
sourcetype = syslog

[journald://systemd-logind]
disabled = false
index = systemd-logind
sourcetype = syslog

{% if 'Nginx' in group_names %}
[monitor:///var/log/nginx/access.log]
disabled = false
index = nginx
sourcetype = access_combined

[monitor:///var/log/nginx/error.log]
disabled = false
index = nginx
sourcetype = nginx:error
{% endif %}

{% if 'Wireguard' in group_names %}
[journald://wg-quick@wg0]
disabled = false
index = wireguard
sourcetype = syslog

[journald://wireguard-watcher]
disabled = false
index = wireguard
sourcetype = syslog
{% endif %}

{% if 'PerconaCluster' in group_names %}
[journald://mysql]
disabled = false
index = percona
sourcetype = syslog

[monitor:///var/log/mysql/error.log]
disabled = false
index = percona
sourcetype = syslog
{% endif %}