server {
  listen 80;
  server_name *.{{ item }} {{ item }};
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  server_name *.{{ item }} {{ item }};
  ssl_certificate /etc/nginx/certs/{{ item }}/fullchain.pem;
  ssl_certificate_key /etc/nginx/certs/{{ item }}/privkey.pem;

  location / {
    proxy_pass {{ reverse_proxy_configs[rp_flow].proxy_pass_location }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
